{% extends 'TestPollBundle::layout.html.twig' %}

{% block title %}{{ test.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/test.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <article class="test">
    <h1>Please follow the questions"</h1>
    {% include 'TestPollBundle:Test:testform.html.twig' with { 'form': form } %}
    </article>
       

 
       
<div>
    <p><a href="{{path('logout')}}">Logout</a></p>
</div>
{% endblock %}

