{# empty Twig template #}
{% extends 'TestPollBundle::layout.html.twig' %}

{% block title %}test submitted{% endblock %}

{% block body %}
    <article class="test">
        
        <div>
            <p>test submitted</p>
        </div>
    </article>
        {% endblock %}