{% extends 'TestPollBundle::layout.html.twig' %}

{% block title %}Welcome{% endblock%}

{% block body %}
    <header>
        <h1>Welcome to PollTest application</h1>
    </header>
    <article>
        <a href="{{ path('TestPollBundle_test_list')}}">View a list of available tests</a>
    </article>
{% endblock %}